<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Funeral Service Management</title>
        <link type="text/css" rel="stylesheet" th:href="@{/css/funeral-management/main.css}" href="../../static/css/funeral-management/main.css"/>
    </head>
    <body>
        <div id="wrapper">
            <admin-header id="nav-wrapper">
            </admin-header>
            <div id="form-container"></div>
        </div>

    <script type="text/javascript" src="../../static/js/admin/header.js" th:src="@{/js/admin/header.js}"></script>
    <script type="text/javascript" src="../../static/js/funeral-management/main.js" th:src="@{/js/funeral-management/main.js}"></script>
    <script type="text/javascript" src="../../static/js/funeral-management/fun-form-component.js" th:src="@{/js/funeral-management/fun-form-component.js}"></script>
    </body>
</html>