<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Company_name: Dashboard</title>
	<link type="text/css" rel="stylesheet" href="../static/css/admin/dashboard/dashboard.css" th:href="@{/css/admin/dashboard/dashboard.css}">
</head>
<body>
	<div id="wrapper">
		<!-- Nav Compenent-->		
		<reception-header id="nav-wrapper">
		</reception-header>
		<!-- End Nav Component -->

		<div id="main">         
			<div class="upfun-container">
				<upcoming-funeral></upcoming-funeral>
			</div>
		</div>

		<footer></footer>
	</div>

<script type="text/javascript" src="../../static/js/reception/header.js" th:src="@{/js/reception/header.js}"></script>
<script src="../../static/js/users/upcomingfuncomp.js" th:src="@{/js/users/upcomingfuncomp.js}"></script>
</body>
</html>