<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Registration</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/client/clientIndex.css}" href="../../static/css/client/clientIndex.css"/>
    <style>
        #overlay{
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: black;
            z-index: 100;
            opacity: 0.7;
        }
    </style>
</head>
<body> 
    <div id="wrapper">
        <admin-header id="nav-wrapper">
	    </admin-header>

        <div id="overlay"></div>
        <div id="deceased-records-component">
        </div>
        <div id="controls-wrapper"></div>
        <div id="member-registration">
            <form id="form-container">
                <fieldset class="personal-form">
                    <legend>Personal</legend>
                    <div class="span-c2">
                        <label for="title-field">Title:</label><br/>
                        <select id="title-field" class="span-field">
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                        </select>
                    </div>
                    <div>
                        <label for="name-field">Name:</label><br/>
                        <input type="text" id="name-field" required/>
                    </div>
                    <div>
                        <label for="surname-field">Surname:</label><br/>
                        <input type="text" id="surname-field" required/>
                    </div>
                    <div>
                        <label for="fi-field">First Initials:</label><br/>
                        <input type="text" id="fi-field"/>
                    </div>
                    <div>
                        <label for="id-passport-field">Id/Passport:</label><br/>
                        <input type="text" id="id-passport-field" required />
                    </div>
                    <div class="span-c2">
                        <label for="dob-field">D.O.B:</label>
                        <br/>
                        <input type="date" id="dob-field" class="span-field">
                    </div>
                    <div>
                        <label for="gender-field">Gender:</label>
                        <div id="gender-div">
                            <label>Male:</label>
                            <input type="radio" name="gender" value="male" class="gender-field"/>
                            <label>Female:</label>
                            <input type="radio" name="gender" value="female" class="gender-field"/>
                        </div>
                    </div>
                </fieldset>
                
                <fieldset class="personal-form">
                    <legend>Contacts</legend>
                    <div class="span-c2">
                        <label for="email-field">Email Address:</label>
                        <br/>
                        <input type="text" class="span-field" id="email-field"/>
                    </div>
                    <div>
                        <label for="countryCode-field">Country Code:</label><br/>
                        <input type="text" id="countryCode-field"/>
                    </div>
                    <div>
                        <label for="phoneContact1-field">Phone Contact 1:</label><br/>
                        <input type="text" id="phoneContact1-field"/>
                    </div>
                    <div>
                        <label for="phoneContact2-field">Phone Contact 2:</label><br/>
                        <input type="text" id="phoneContact2-field"/>
                    </div>
                </fieldset>
                <fieldset class="personal-form">
                    <legend>Address</legend>
                    <div>
                        <label for="province-field">Province:</label><br/>
                        <input type="text" id="province-field"/>
                    </div>
                    <div class="span-c2">
                        <label for="address-field">Address:</label><br/>
                        <textarea id="address-field" class="span-field"></textarea>
                    </div>
                </fieldset>
            </form>

            <form id="cover-container">
                <fieldset class="personal-form">
                    <legend>Cover</legend>
                    <div class="span-c2">
                        <label for="group-field">Group Name:</label>
                        <br/>
                        <input type="text" id="group-field" class="span-field"/>
                    </div>
                    <div>
                        <label for="joiningDate-field">Joining Date of Cover:</label><input type="date" id="joiningDate-field" required>
                    </div>
                    <div>
                        <label for="joiningFee-field">Joining Fee</label><input type="text" id="joiningFee-field" required>
                    </div>
                </fieldset>
            </form>

            <add-package id="add-package">
            </add-package>

            <button id="reg-client-btn">Register Client</button>
        </div>

        <footer>
            
        </footer>
    </div>
    <script type="text/javascript" src="../static/js/admin/header.js" th:src="@{/js/admin/header.js}"></script>
    <script type="text/javascript" src="../static/js/client/client-registration.js" th:src="@{/js/client/client-registration.js}"></script>
    <script type="text/javascript" src="../static/js/client/billing-history-component.js" th:src="@{/js/client/billing-history-component.js}"></script>
    <script type="text/javascript" src="../static/js/client/billing-component.js" th:src="@{/js/client/billing-component.js}"></script>
    <script type="text/javascript" src="../static/js/client/displayclient-component.js" th:src="@{/js/client/displayclient-component.js}"></script>
    <script type="text/javascript" src="../static/js/client/deceased-component.js" th:src="@{/js/client/deceased-component.js}"></script>
    <script type="text/javascript" src="../static/js/client/notification-component.js" th:src="@{/js/client/notification-component.js}"></script>
    <script type="text/javascript" defer src="../static/js/users/client-package-component.js" th:src="@{/js/users/client-package-component.js}"></script>
    <script type="text/javascript" src="../static/js/client/client-controls.js" th:src="@{/js/client/client-controls.js}"></script>
</body>
</html>