<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Packages Management</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 20px;
            background-color: #f8f8f8;
            color: #333;
        }

        h1, h2 {
            color: #333;
            text-align: center;
        }

        #button-menu{
            display: flex;
            flex-direction: row;
            margin-top: 50px;
            gap: 2rem;
        }

        button {
            padding: 12px;
            background-color: #4caf50;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .delete-btn{
            background-color: red;
            font-weight: bolder;
            font-size: 0.8em;
            color: #F8C3CC;
        }

        .delete-btn:hover{
            background-color: #BF3F54;
        }

        form {
            background-color: #fff;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: block;
            margin-top: 20px;
            width: 100%;
        }

        form label {
            display: block;
            margin-top: 10px;
            color: #333;
        }

        form input,
        form textarea,
        form select {
            width: calc(100% - 16px);
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 14px;
        }

        form button {
            width: 48%;
            margin-right: 2%;
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        form button:last-child {
            margin-right: 0;
        }

        form button.cancel {
            background-color: #bbb;
        }

        form button.cancel:hover {
            background-color: #999;
        }
        
        .overlay{
            position: absolute;
            display: none;
            background-color: black;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.8;
            z-index: 10;
        }

        table {
            width: fit-content;
            border-collapse: collapse;
            margin-top: 50px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .policyTable{
            display: none;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .package-form-div{
            display: none;
            flex-direction: column;
            position: absolute;
            top: 5%;
            width: 50%;
            margin: 0 25%;
            z-index: 12;
            padding: 10px;
            box-sizing: border-box;
        }

        .package-title{
            background-color: #eeecec;
            padding: 10px 0;
            flex: 1;
            box-sizing: border-box;
            border-radius: 5px;
        }

        .package-form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            flex-basis: 100%;
        }

        .policy-amount{
            grid-column: 1/3;
        }

        /*policy-benefits div and text area*/
        .premium-class-dta{
            grid-column: 1/3;
        }

        .policy-benefits{
            height: 250px;
        }
        /*END*/

        /*policy form - div and button controls*/
        .premium-class-dco{
            margin-top: 20px;
            border: 1px solid gray;
            box-sizing: border-box;
            padding: 10px 5px;
            border-radius: 5px;
        }

        .cancelPackageButton{
            background-color: pink;
            color: white;
            border: 1px solid white;
        }

        .cancelPackageButton:hover{
            outline: 1px solid red;
            background-color: #FF7F93;
        }
        
        /*END*/

        .container {
            width: 80%;
            margin: 0 auto;
        }
        /*-----------------------------------------------------------------------------------------------------*/
        #main-header {
            margin-top: 60px;
            box-sizing: border-box;
            grid-column: 1/3;
            display: flex;
            padding: 20px 0;
            /* Add your main header styles here */
        }
/*---------------------------------------------------------------------------------------------------*/
        /*---------------FLASH MESSAGE STYLES--------------------*/
        #flash-message{
            display: none;
            position: absolute;
            padding: 5px 0;
            left: 0;
            width: 400px;
            bottom: 10px;
            text-align: center;
            font-weight: bolder;
            border-radius: 5px;
            font-size: 1em;
            border: 1px solid white;
        }

        .error-flash-message{
            width: 100%;
            color: #FF7F7F;
            outline: 1px solid #F50000;
            background-color: #AD0000;
        }

        .success-message{
            width: 100%;
            color: #7FFF9C;
            outline: 1px solid #7FFF9C;
            background-color: #00A026;
        }

        #flash-message-p{
            font-weight: bolder;
            padding: 20px 0;
        }
        
    </style>
</head>

<body>
    <admin-header id="nav-wrapper"></admin-header>
    
    <div class="overlay"></div>
    <div id="flash-message">
        <p id="flash-message-p"></p>    
    </div>
    <!-------------------------------------------------PREMIUM FORMS-------------------------------------------------------------->
    <div id="packageForm" class="package-form-div">
        <h2 id="formTitle" class="package-title"></h2>
        <form id="addPackageForm" class="package-form">
            <div class="premium-class-df">
                <label for="packageName">Policy Name:</label>
                <input type="text" id="packageName" name="packageName" required>
            </div>
            <div class="premium-class-df">
                <label for="numMembers">Number of Members Covered:</label>
                <input type="number" id="numMembers" name="numMembers" required>
            </div>
            <div class="premium-class-df">
                <label for="min-age">Minimum Age:</label>
                <input type="number" id="min-age" name="min-age" placeholder="0" required>
            </div>
            <div class="premium-class-df">
                <label for="max-age">Maximum Age:</label>
                <input type="number" id="max-age" name="max-age" placeholder="0" required>
            </div>

            <div class="premium-class-df policy-amount">
                <label for="premium-amount">Monthly Policy Amount:</label>
                <input type="text" placeholder="0.00" id="premium-amount" name="premium-amount" required>
            </div>
            <div class="premium-class-df">
                <label for="lapse-period">Lapse Period:</label>
                <input type="text" id="lapse-period" placeholder="0" required>
            </div>

            <div class="premium-class-df">
                <label for="wait-period">Wait Period:</label>
                <input type="text" id="wait-period" placeholder="0" required>
            </div>

            <div class="premium-class-dta">
                <label for="policy-benefits">Policy Benefits:</label>
                <textarea class="policy-benefits" id="policy-benefits" required></textarea>
            </div>

            <div class="premium-class-dco">
                <button type="button" id="savePackageButton">Save</button>
                <button type="button" class="cancelPackageButton" id="cancelPackageButton">Cancel</button>
            </div>
        </form>
    </div>

    <div id="edit-plan-div" class="package-form-div">
        <h2 class="package-title">Policy Plan</h2>
        <form id="edit-plan-form" class="package-form">
            <div class="premium-class-df">
                <label for="e-policy-name">Policy Name:</label>
                <input type="text" id="e-policy-name" required>
            </div>
            <div class="premium-class-df">
                <label for="e-member-count-field">Number of Members Covered:</label>
                <input type="number" id="e-member-count-field"required>
            </div>
            <div class="premium-class-df">
                <label for="min-age">Minimum Age:</label>
                <input type="number" id="e-min-age" name="min-age" placeholder="0" required>
            </div>
            <div class="premium-class-df">
                <label for="max-age">Number of Members Covered:</label>
                <input type="number" id="e-max-age" name="max-age" placeholder="0" required>
            </div>

            <div class="premium-class-df policy-amount">
                <label for="e-plan-price">Monthly Policy Amount:</label>
                <input type="text" id="e-premium-amount" required>
            </div>
            <div class="premium-class-df">
                <label for="lapse-period">Lapse Period:</label>
                <input type="text" id="e-lapse-period" placeholder="0" required>
            </div>

            <div class="premium-class-df">
                <label for="wait-period">Wait Period:</label>
                <input type="text" id="e-wait-period" placeholder="0" required>
            </div>

            <div class="premium-class-dta">
                <label for="policy-benefits">Policy Benefits:</label>
                <textarea class="policy-benefits" id="e-policy-benefits" required></textarea>
            </div>

            <div class="premium-class-dco">
                <button type="button" id="edit-plan-button">Update</button>
                <button type="button" class="cancelPackageButton" id="cancel-plan-button">Cancel</button>
            </div>
        </form>
    </div>
<!--------------------END PREMIUM PLAN--------------------------->
    <!-- Optional Subscription Plan Forms-->

    <div id="optionForm" class="package-form-div">
        <h2 id="optionTitle" class="package-title">Add New Optional Plan</h2>
        <form id="addOptionalPackageForm" class="package-form">
            <div class="premium-class-df">
                <label for="optionaPackageName">Package Name:</label>
                <input type="text" id="ap-name" required>
            </div>

            <div class="premium-class-df">
                <label for="optionalMembersCount">Members Count:</label>
                <input type="text" id="ap-members-count" required>
            </div>

            <div class="premium-class-df">
                <label for="min-age">Minimum Age:</label>
                <input type="number" id="ap-min-age" placeholder="0" required>
            </div>
            <div class="premium-class-df">
                <label for="max-age">Number of Members Covered:</label>
                <input type="number" id="ap-max-age" placeholder="0" required>
            </div>

            <div class="premium-class-df policy-amount">
                <label for="add-policy-amount">Mothly Policy Amount:</label>
                <input type="number" id="ap-amount"required>
            </div>

            <div class="premium-class-df">
                <label for="lapse-period">Lapse Period:</label>
                <input type="text" id="ap-lapse-period" placeholder="0" required>
            </div>

            <div class="premium-class-df">
                <label for="wait-period">Wait Period:</label>
                <input type="text" id="ap-wait-period" placeholder="0" required>
            </div>

            <div class="premium-class-dta">
                <label for="ap-benefits">Policy Benefits:</label>
                <textarea id="ap-benefits" class="policy-benefits" required></textarea>
            </div>

            <div class="premium-class-dco">
                <button type="button" id="saveOptionalPackageButton">Save</button>
                <button type="button" class="cancelPackageButton" id="cancelOptionalPackageButton">Cancel</button>
            </div>
        </form>
    </div>

    <div id="edit-optional-plan-div" class="package-form-div">
        <h2 class="package-title">Edit Subscription Plan</h2>
        <form id="edit-optional-plan-form" class="package-form">
            <div class="premium-class-df">
                <label for="e-optional-plan-name">Package Name:</label>
                <input type="text" id="eap-name" required>
            </div>

            <div class="premium-class-df">
                <label for="e-optional-member-count">Number of Members Covered:</label>
                <input type="number" id="eap-member-count"required>
            </div>
            <div class="premium-class-df">
                <label for="min-age">Minimum Age:</label>
                <input type="number" id="eap-min-age" name="min-age" placeholder="0" required>
            </div>
            <div class="premium-class-df">
                <label for="max-age">Number of Members Covered:</label>
                <input type="number" id="eap-max-age" name="max-age" placeholder="0" required>
            </div>

            <div class="premium-class-df policy-amount">
                <label for="e-optional-plan-price">Monthly Policy Amount:</label>
                <input type="text" id="eap-amount" required>
            </div>
            <div class="premium-class-df">
                <label for="lapse-period">Lapse Period:</label>
                <input type="text" id="eap-lapse-period" placeholder="0" required>
            </div>

            <div class="premium-class-df">
                <label for="wait-period">Wait Period:</label>
                <input type="text" id="eap-wait-period" placeholder="0" required>
            </div>

            <div class="premium-class-dta">
                <label for="policy-benefits">Policy Benefits:</label>
                <textarea class="policy-benefits" id="eap-benefits" required></textarea>
            </div>

            <div class="premium-class-dco">
                <button type="button" id="edit-optional-plan-button">Update</button>
                <button type="button" class="cancelPackageButton" id="cancel-optional-plan-button">Cancel</button>
            </div>
        </form>
    </div>
    <!-- ______________________________________________________________________________________________________________________ -->

    <div class="container">

        <h1>Product Packages Management</h1>

        <div id="main-header">
        </div>

        <div id="button-menu">
            <button id="addPackageButton">Add New Premium Plan</button>
            <button id="addOptionalButton">Add New Additional Plan</button>
        </div>

    <table id="packageTable" class="policyTable">
        <caption><h2>Premium Policies<h2></caption>
        <tr>
            <th>Policy Name</th>
            <th>Members Covered</th>
            <th>Monthly Policy Amount</th>
            <th>Action</th>
        </tr>
    </table>

    <table id="additional-policy-table" class="policyTable">
        <caption><h2>Additional Policies</h2></caption>
        <tr>
            <th>Policy Name</th>
            <th>Members Covered</th>
            <th>Monthly Policy Amount</th>
            <th>Action</th>
        </tr>
    </table>

    </div>
    <script type="text/javascript" src="../static/js/admin/header.js" th:src="@{/js/admin/header.js}"></script>
    <script>
        /*-------------------------------------------Flash Message----------------------------------------*/
        let errorFlashMessage = (serverMessage) => {
            //flash message div
            let flashMessageDiv = document.getElementById("flash-message");
            flashMessageDiv.style.display = "block"
            //class name - this will determine the type of div message > success or error
            flashMessageDiv.className = "error-flash-message";
            let message = document.getElementById("flash-message-p");
            message.textContent = serverMessage;

            setTimeout(() => {
                flashMessageDiv.style.display = "none";
            }, 3000);
        }

        let flashMessage = (classValue, messageContent) => {
            //flash message div
            let flashMessageDiv = document.getElementById("flash-message");

            //class name - this will determine the type of div message > success or error
            flashMessageDiv.className = "";

            flashMessageDiv.style.display = "block";
            flashMessageDiv.className = classValue;

            let message = document.getElementById("flash-message-p");
            message.textContent = "";

            message.textContent = messageContent;

            setTimeout(() => {
                flashMessageDiv.style.display = "none";
            }, 3000);
        }
/*_________________________________________________________________________________________________________*/
    // JSON object to hold package data
    var packageData = {};
    let addtionalPoliciesData = {};
    let packageId;
    let packageValue;

    let activateOverlay = () => {
        let overlay = document.querySelector(".overlay");
        if(overlay.style.display !== "block")
        {
            overlay.style.display = "block";
        }
    }
/*--------------------------------------------PACKAGE--------------------------------------------------*/
    document.getElementById("addPackageButton").addEventListener('click', openPackageForm);
    document.getElementById("cancelPackageButton").addEventListener('click', closePackageForm);

    //Open subscription plan package
    function openPackageForm() {
        document.getElementById("packageForm").style.display = "flex";
        
        // Clear form fields
        document.getElementById("addPackageForm").reset();
        // Reset the form title
        document.getElementById("formTitle").innerText = "Add New Premium Policy Plan";
        activateOverlay();
    }

    function closePackageForm() {
        document.getElementById("packageForm").style.display = "none";
        document.querySelector(".overlay").style.display = "none";
    }

    //validate add premium form
    let errorMessage = "";
    let validatePremiumForm = (packageNameVal, numMembers, minAge, maxAge, premiumAmount, lapsePeriod, waitPeriod) => {
        errorMessage = "";
        let isFormValid;
        if(packageNameVal == "")
        {
            errorMessage += `\n ->Please fill in \"Policy name\" field`;
            isFormValid = false;
        }

        if((numMembers == "") || (numMembers == NaN))
        {
            errorMessage += `\n ->Please fill in "Number of member's" field with a valid digit/number`;
            isFormValid = false;
        }

        if((minAge == "") || (minAge == NaN))
        {
            errorMessage += `\n ->Please fill in "min age" field with a valid digit/number`;
            isFormValid = false;
        }

        if((maxAge == "") || (maxAge == NaN))
        {
            errorMessage += `\n ->Please fill in "max age" field with a valid digit/number`;
            isFormValid = false;
        }

        if((premiumAmount == "") || (premiumAmount == NaN))
        {
            errorMessage += `\n ->Please fill in "Premium amount" field with a valid amount`;
            isFormValid = false;
        }else if(parseFloat(premiumAmount) == 0 || parseFloat(premiumAmount) < 0){
            errorMessage += `\n ->"Premium amount" must not be less than or equals to zero!`;
            isFormValid = false;
        }

        if((lapsePeriod == "") || (lapsePeriod == NaN))
        {
            errorMessage += `\n ->Please fill in "Laspe period" field with a valid digit/number`;
            isFormValid = false;
        }

        if((waitPeriod == "") || (waitPeriod == NaN))
        {
            errorMessage += `\n ->Please fill in "Wait period" field with a valid digit/number`;
            isFormValid = false;
        }

        if(isFormValid === false)
        {
            return false;
        }else{
            return true;
        }
        
    }

    //Save Premium plan policy
    let savePackage = () => {
        // Get form values
        let packageNameVal = document.getElementById("packageName").value;
        let numMembers = document.getElementById("numMembers").value;
        let minAge = document.getElementById("min-age").value;
        let maxAge = document.getElementById("max-age").value;
        let premiumAmount = document.getElementById("premium-amount").value;
        let lapsePeriod = document.getElementById("lapse-period").value;
        let waitPeriod = document.getElementById("wait-period").value;
        let policyBenefits = document.getElementById("policy-benefits").value

        var packageData = {
            policyName: packageNameVal,
            membersCount: numMembers,
            premiumAmount: premiumAmount,
            minAge: minAge,
            maxAge: maxAge,
            lapsePeriod: lapsePeriod,
            waitPeriod: waitPeriod,
            policyBenefits: policyBenefits
        };
        
        //check add premium form validation
        if(validatePremiumForm(packageNameVal, numMembers, minAge, maxAge, premiumAmount, lapsePeriod, waitPeriod) !== true){
            alert(errorMessage);
        }else{
            //fetch api sending data to backend for update
            fetch(`/package/add-package`,{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(packageData),
            })
            .then(response => {
                if (response.status !== 200) {
                    flashMessage("error-flash-message", "Error saving premium policy");
                    return;
                }
                return response.json()
            })
            .then(data => {
                //pass message to modal box
                let message = `Package has been successfuly saved`;
                // Update the table with the new data
                updatePackageTable();

                flashMessage("success-message", message);
            })
            closePackageForm();
        }
    }

    document.getElementById("savePackageButton").addEventListener('click', savePackage);

    /*--------------------------- delete premium policy ---------------------------*/
    let deletePackage = (packageId) => {
        fetch(`/package/delete-package/${packageId}`,
        {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            if (response.status !== 200) {
                errorFlashMessage("Error deleting subscription plan");
                return; 
            }
            return response.text();
        })
        .then(data => {
            // Update the table with the modified data
            updatePackageTable();
            flashMessage("success-message", data);
        })
    }

    /*--------------------------------------Edit Premium Policy---------------------------------------------------*/

    //Open Edit Form - Subscription Plan
    let editPremiumPolicy = (packageId) => {
        getSubscriptionPlan(packageId);
    }

    //Open Edit subscription plan package
    let openEditSubscriptionPlan = () => {
        document.getElementById("edit-plan-div").style.display = "flex";
        // Reset the form title
        document.getElementById("formTitle").innerText = "Policy Plan";
        activateOverlay();
    }

    let getSubscriptionPlan = (package_id) => {
           
        packageId = package_id;
        //query parameters
        let packageQueryData = {
            id: package_id,
        };

        //fetch api sending data to backend for update
        fetch(`/package/getpremiumpolicy`,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(packageQueryData),
        })
        .then(response => {
            if (response.status !== 200) {
                if(response.status === 400){
                    errorFlashMessage("Failed to retrieve policy data!");
                    return; 
                }else{
                    errorFlashMessage("An Error occured please try again later");
                    return; 
                }
            }
            return response.json();
        })
        .then(data => {
            //populate fields with data from server
            let policyName = document.getElementById('e-policy-name');
            policyName.value = data.policyName;

            let membersCount = document.getElementById("e-member-count-field");
            membersCount.value = data.membersCount;

            let premiumAmount = document.getElementById("e-premium-amount");
            premiumAmount.value = data.premiumAmount;
            
            let minAge = document.getElementById("e-min-age");
            minAge.value = data.minAge;

            let maxAge = document.getElementById("e-max-age");
            maxAge.value = data.maxAge;

            let lapsePeriod = document.getElementById("e-lapse-period");
            lapsePeriod.value = data.lapsePeriod;

            let waitPeriod = document.getElementById("e-wait-period");
            waitPeriod.value = data.waitPeriod;

            let policyBenefits = document.getElementById("e-policy-benefits");
            policyBenefits.value = data.policyBenefits;


            openEditSubscriptionPlan()
        })
    }
/*----------------------------------------- update premium policy ----------------------------*/    

    let updateSubscriptionPlanButton = document.getElementById("edit-plan-button");
    updateSubscriptionPlanButton.addEventListener("click", () => {
        updatePremiumPlan();
    });
    
    //post update data to server
    let updatePremiumPlan = () => {
        let formData = {
            id: packageId,
            policyName: document.getElementById('e-policy-name').value,
            membersCount: document.getElementById("e-member-count-field").value,
            minAge: document.getElementById("e-min-age").value,
            maxAge: document.getElementById("e-max-age").value,
            premiumAmount: document.getElementById("e-premium-amount").value,
            lapsePeriod: document.getElementById("e-lapse-period").value,
            waitPeriod: document.getElementById("e-wait-period").value,
            policyBenefits: document.getElementById("e-policy-benefits").value,
        }
   
        //fetch api sending data to backend for update
        fetch(`/package/update-plan`,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        })
        .then(response => {
            if (response.status!== 200) {
                    errorFlashMessage("This subscription plan does not exist");
                 
                }else if(response.status === 200){
            
                //pass message to modal box
                let message = `This policy has been updated successfully`;
                flashMessage("success-message", message);
                return response.json();
            }
        })
        .then(data => {
            // Update the table with the new data
            updatePackageTable();
            
            //close modal
            closeEditSubscriptionPlanModal();
        })
    }

/*---------------------------------------- Update Display Premium Policy Table -------------------------------*/
let updatePackageTable = () => {
        fetch(`/package/packages`)
        .then(response => response.json())
        .then(data => {
            var table = document.getElementById("packageTable");
            table.style.display = "block";
            // Clear existing rows
            while (table.rows.length > 1) {
                table.deleteRow(1);
            }
            
            //store returned object into packaghes
            data.forEach(package => {
                packageData[package.id] = {
                    policyName: package.policyName,
                    membersCount: package.membersCount,
                    premiumAmount: package.premiumAmount,
                };

                // Add rows with package data
                var row = table.insertRow(-1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);

                cell1.innerHTML = package.policyName;
                cell2.innerHTML = package.membersCount;
                cell3.innerHTML = package.premiumAmount;
                cell4.innerHTML = `<button onclick="editPremiumPolicy(${package.id})">View</button> <button class="delete-btn" onclick="deletePackage(${package.id})">Delete</button>`; 
            });

        })
        .catch(error => {
            var table = document.getElementById("packageTable");
            table.style.display = "none";
        });    
    }

    //close edit subscription modal
    let closeEditSubscriptionPlanModal = () => {
        document.getElementById("edit-plan-div").style.display = "none";
        document.querySelector(".overlay").style.display = "none";
    }

    document.getElementById("cancel-plan-button").addEventListener('click', closeEditSubscriptionPlanModal);
/*_______________________________________________________________________________________________________________________*/

/*----------------------------------------------- ADDITIONAL POLICY -----------------------------------------------------*/
    document.getElementById("addOptionalButton").addEventListener('click', openOptionForm);
    document.getElementById("saveOptionalPackageButton").addEventListener('click', saveOptionalPackage);
    document.getElementById("cancelOptionalPackageButton").addEventListener('click', closeOptionForm);

    function openOptionForm() {
        document.getElementById("optionForm").style.display = "flex";
        // Clear form fields
        document.getElementById("addOptionalPackageForm").reset();
        // Reset the form title
        document.getElementById("optionTitle").innerText = "Add New Additional Plan";
        closePackageForm();
        
        //display overlay
        activateOverlay();
    }

    function closeOptionForm() {
        document.getElementById("optionForm").style.display = "none";
        document.querySelector(".overlay").style.display = "none";
        // Clear form fields
        document.getElementById("addOptionalPackageForm").reset();
    }

/*---------------------------------------- Add additional Policy Packages -------------------------------------*/
    function saveOptionalPackage() {
        // Get form values
        let policyName = document.getElementById("ap-name").value;
        let membersCount = document.getElementById("ap-members-count").value;
        let policyAmount = document.getElementById("ap-amount").value;
        let minAge = document.getElementById("ap-min-age").value;
        let maxAge = document.getElementById("ap-max-age").value;
        let lapsePeriod = document.getElementById("ap-lapse-period").value;
        let waitPeriod = document.getElementById("ap-wait-period").value;
        let policyBenefits = document.getElementById("ap-benefits").value

        var policyData = {
            policyName: policyName,
            membersCount: membersCount,
            policyAmount: policyAmount,
            minAge: minAge,
            maxAge: maxAge,
            lapsePeriod: lapsePeriod,
            waitPeriod: waitPeriod,
            policyBenefits: policyBenefits
        };
        //check add premium form validation
        if(validatePremiumForm(policyName, membersCount, minAge, maxAge, policyAmount, lapsePeriod, waitPeriod) !== true){
            alert(errorMessage);
        }else{
            //post data to server
            fetch(`/package/add-additional-policy`,{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(policyData),
            })
            .then(response => {
                if (response.status !== 200) {
                    return errorFlashMessage("Error saving addtional policy");
                    
                }else{
                    let message = `Addtitional policy has been successfuly saved!`;
                    flashMessage("success-message", message);
                    return response.json();
                }
                
            })
            .then(data => {
                // Update the table with the new data
                updateDisplayAdditionalPolicy();
            })
        }
        
        //close form
        closeOptionForm();
    }
/*------------------------------------------------ Display Additional Polices Table ----------------------------------------------------*/
    let updateDisplayAdditionalPolicy = () => {
        fetch(`/package/additional-policies`)
        .then(response => response.json())
        .then(data => {
            var table = document.getElementById("additional-policy-table");
            table.style.display = "block";
            // Clear existing rows
            while (table.rows.length > 1) {
                table.deleteRow(1);
            }
            
            //data object to display
            data.forEach(policy => {
                addtionalPoliciesData[policy.id] = {
                    policyName: policy.policyName,
                    membersCount: policy.membersCount,
                    policyAmount: policy.policyAmount,
                   
                };
                
                // Add rows with policy data
                var row = table.insertRow(-1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);

                cell1.innerHTML = policy.policyName;
                cell2.innerHTML = policy.membersCount;
                cell3.innerHTML = policy.policyAmount;
                cell4.innerHTML = `<button onclick="editOptionalSubscriptionPlan(${policy.id})">View</button> <button class="delete-btn" onclick="deleteOptionalPackage(${policy.id})">Delete</button>`; 
            });

        })
        .catch(error => {
            var table = document.getElementById("packageTable");
            table.style.display = "none";
        });    
    } 

    /*DELETE OPTIONAL PACKAGE*/
    let deleteOptionalPackage = (packageId) => {
        fetch(`/package/delete-optional-package/${packageId}`,
        {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            if (!response.ok) {
                return flashMessage("error-flash-message", "Error deleting optional subscription plan");
            }
            return response.text();
            
        })
        .then(data => {
            // Update the table with the modified data
            updateDisplayAdditionalPolicy();
            flashMessage("success-message", data);
        })
    }
    // Uncomment the following line if you want the form to be open by default
    // openPackageForm();

/*--------------------------------------------------------------------------------------------------------------*/    

/*-------------------------------------- Edit Optional Subscription Plan ---------------------------------------*/

//Open Edit Form - Subscription Plan
let editOptionalSubscriptionPlan = (packageId) => {
    getOptionalSubscriptionPlan(packageId);
}

//Open Edit optional subscription plan package
let openEditOptionalSubscriptionPlan = () => {
    document.getElementById("edit-optional-plan-div").style.display = "flex";
    // Reset the form title
    document.getElementById("formTitle").innerText = "Edit Optional Subscription Plan";
    activateOverlay();
}

let getOptionalSubscriptionPlan = (package_id) => {
    //set package id to be used
    packageId = package_id;
    //query parameters
    let packageQueryData = {
        id: package_id,
    };

    //fetch api sending data to backend for update
    fetch(`/package/get-optional-plan`,{
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(packageQueryData),
    })
    .then(response => {
        if (!response.ok) {
            if(response.status === 400){
                return errorflashMessage("Failed to retrieve plan data!");
            }else{
                return flashMessage("error-flash-message", "An Error occured please try again later");
            }
        }
        return response.json();
    })
    .then(data => {
        //populate fields with data from server
        let packageName = document.getElementById('eap-name');
        packageName.value = data.policyName;

        let membersCount = document.getElementById("eap-member-count");
        membersCount.value = data.membersCount;

        let price = document.getElementById("eap-amount");
        price.value = data.policyAmount; 

        let minAge = document.getElementById("eap-min-age");
        minAge.value = data.minAge;

        let maxAge = document.getElementById("eap-max-age");
        maxAge.value = data.maxAge;

        let lapsePeriod = document.getElementById("eap-lapse-period");
        lapsePeriod.value = data.lapsePeriod;

        let waitPeriod = document.getElementById("eap-wait-period");
        waitPeriod.value = data.waitPeriod;

        let policyBenefits = document.getElementById("eap-benefits");
        policyBenefits.value = data.policyBenefits;

        openEditOptionalSubscriptionPlan();
    })
    
}

//update optional subscription plan - post data to server for updating.
let updateOptionalSubscriptionPlanButton = document.getElementById("edit-optional-plan-button");
updateOptionalSubscriptionPlanButton.addEventListener("click", () => {
    updateOptionalSubscriptionPlan();
});
    
let updateOptionalSubscriptionPlan = () => {
    let formData = {
        id: packageId,
        policyName: document.getElementById('eap-name').value,
        membersCount: document.getElementById("eap-member-count").value,
        minAge: document.getElementById("eap-min-age").value,
        maxAge: document.getElementById("eap-max-age").value,
        policyAmount: document.getElementById("eap-amount").value,
        lapsePeriod: document.getElementById("eap-lapse-period").value,
        waitPeriod: document.getElementById("eap-wait-period").value,
        policyBenefits: document.getElementById("eap-benefits").value,
    }

        
    //fetch api sending data to backend for update
    fetch(`/package/update-additional-policy`,{
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData),
    })
    .then(response => {
        if (response.status !== 200) {
            return errorFlashMessage("Error updating optional subscription plan");
        }
        return response.json()
    })
    .then(data => {
        //pass message to modal box
        let message = `Additional Policy - has been updated successfully`;
        // Update the table with the new data
        updateDisplayAdditionalPolicy();
        
        //close modal
        closeEditAdditionalPolicyModal();

        flashMessage("success-message", message);
    })
}


//close edit optional subscription modal
let closeEditAdditionalPolicyModal = () => {
    document.getElementById("edit-optional-plan-div").style.display = "none";
    document.querySelector(".overlay").style.display = "none";
}

document.getElementById("cancel-optional-plan-button").addEventListener('click', closeEditAdditionalPolicyModal);

//render data display tables
updateDisplayAdditionalPolicy();
updatePackageTable();

/*__________________________________________________________________________________________________________________________*/
    </script>

</body>

</html>
